*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #1F2937;
    width: 100%;
    color: #E5E7EB;
}

.header-top, .header-bottom{
    margin-left:200px ;
    margin-right: 200px;
}

.header-top{
    font-size: 18px;
    padding: 5px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    list-style: none;
}

li{
    color: white;
}

#move{
  margin-left: auto;
}   

.header-bottom{
    display: flex;
    margin-top: 75px;
    
}

.header-bottom-left{
    width: 50%;
  
}
.header-bottom-rigth{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
   
    background-color: gray;
}

.header-bottom-left div{
    font-size: 48px;
    font-weight: 1000;
}
.header-bottom-left p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.header-bottom-left button{
    background-color: #3882f6;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    color: #E5E7EB;
    border-radius: 8px;
}

