*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #1F2937;
    width: 100%;
    color: #E5E7EB;
}

.header-top, .header-bottom, .content-top, .sign-up{
    margin-left:200px ;
    margin-right: 200px;
}

.header-top{
    font-size: 18px;
    padding: 5px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    list-style: none;
}

li{
    color: white;
}

#move{
  margin-left: auto;
}   

.header-bottom{
    display: flex;
    margin-top: 75px;
    
}

.header-bottom-left{
    width: 50%;
  
}
.header-bottom-rigth{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.header-bottom-left div{
    font-size: 48px;
    font-weight: 1000;
}
.header-bottom-left p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

 button{
    background-color: #3882f6;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    color: #E5E7EB;
    border-radius: 8px;
}
h2{
    text-align: center;
    padding: 30px;
}

.content-top{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-draw{
    height: 130px;
    width: 130px;
    border: 4px solid #1F2937;
    border-radius: 8px;
    margin-bottom: 10px;
    
}
.card-description{
    width: 130px;
    text-align: center;
}
.content-bottom{
    flex-direction: column;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote, .sign{
    margin-left: 275px;
    margin-right: 275px;
}
.quote{
    font-size: 26px;
    color: #1F2937;
    font-weight: lighter;
    
}
.sign{
    font-weight: bold;
    text-align: right;
    margin-right: 0;
}
.sign-up{
    background-color: #3882F6;
    display: flex;
    gap: 100px;
    padding:20px;
    border-radius: 8px;
}

#top{
    color: #E5E7EB;
    font-weight: bold;
    font-size: 20px;
 }
 #bottom{
    color: #E5E7EB;
    font-weight:lighter;
 }
.sign-up-button button{
   border: 2px solid white;
}
.div{
    height: 100px;
}
.end-banner{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}
